@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
}

.cabecalho {
    padding: 1% 20%;
    background-color: rgb(121, 72, 170);
}

.cabecalho-menu{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cabecalho-menu-link{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 1.25rem;
}

.apresentacao{
    padding: 0% 15%;
}

.apresentacao-conteudo{
    display: flex;
    align-items: center;
    gap: 10%;
    text-align: center;
}

.apresentacao-conteudo h1{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

strong{
    color: rgb(121, 72, 170);
}

.apresentacao-conteudo-imagem{
    width: 35%;
    border-radius: 600px;
}

.carta {
    padding: 4% 15%;
    background-color: rgb(36, 36, 36);
}

.carta-conteudo{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.carta-conteudo h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}

.carta-conteudo p {
    font-family: Edu AU VIC WA NT Hand, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

.fotos {
    padding: 2% 15%;
}

.fotos-conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.fotos-conteudo h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}

.container-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.fotos-conteudo img {
    width: 32%;
}

.rodape {
    width: 100%;
    background-color: rgb(121, 72, 170);
    text-align: center;
    padding: 0.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.rodape p {
    color: black;
}

@media (max-width: 768px){
    .apresentacao-conteudo{
        flex-direction: column-reverse;
    }

    .apresentacao-conteudo-imagem{
        width: 80%;
    }

    .container-fotos img {
        width: 150%;
    }
}
